<a href="https://colab.research.google.com/github/MarinBomgaars/BTE-320/blob/main/List_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists:
Lists are a changable collection of elements. The elements within a list can be identified using the index (similar to strings). Lists are designed using brackets.

**List Examples:**

In [8]:
L = [1, 'two', 3.0, print, [5,7,9]]
L

[1, 'two', 3.0, <function print>, [5, 7, 9]]

In [ ]:
L[:3]
L

In [ ]:
3*['three', 9.99, 0] #the output will be a a list with these values repeating 3 times
                      #in the same order shown here

In [ ]:
#this code will not work for strings because once strings are declared they cannot be changed
s = "two"
s[2] = 'b'

In [ ]:
L = [1, 'two', 3.0, print, [5,7,9]]
L[3] = input    #because input is not in quotes the output will return a strange statement
L

In [ ]:
#we use a for loop because lists have a determined (finite) number of object
#and for loops have a determined (finate) number of iterations
L = [1, 'two', 3.0, print , [5,7,9]]
L[3]='b'
for index in range(len(L)):
  print(L[index])

In [ ]:
#this code will return the same output as the example above
#another way to individually print each element in a list
for element in L:
  print(element)

**Two Dimensional Lists:**

In [ ]:
[[...],[...],[...]]

L_outer = [[1, 2, 3],[4, 5, 6]] #this is a two dimensional list
print(L_outer)

l = L_outer[1]  #creates a new one dimensional list (l) that only contains the values of the second list within L_outer
print(l)

l[0] = 7  #modifies the first value in l from 4 to 7
print(l)

L_outer[1] = l  #makes the new value of l, [7, 5, 6], the value of the second list in L_outer
print(L_outer)

L_outer[1][0] = 7 #does the same as the code above
print(L_outer)

**Adding Objects to Lists: Appending vs. Extending**

In [ ]:
#adding to the list
#structure: obj.methodName(...)
s = ['three', 9.99, 0]
L.append(s)           #adds the values of s to the list, L
L                     #append only works for lists

s = ['three', 9.99, 0]
L.extend(s)           #also adds the values of s to the list, L
L

L + ['three'] #this does not update L, but the output will be L with an added object, 'three'

In [ ]:
L.append('three')   #this will add the string object, 'three' to the end of the list
                    #the list, L, will now have 6 objects

L.append(['three', 4])  #this will add the list object, ['three', 4] to the end of the list
                        #the list, L, will still have 6 objects

L.extend(['three', 4])  #this will add the list object and variable object seperately to the list
                        #the list, L, will now have 7 objects

**Removing Objects From Lists: Pop**

In [ ]:
# the pop method automatically uses the -1 index,
#therefore removing the last object in the list

L.pop()   #this will remove the last object from the list
L

L.pop(2)  #this will remove the 3rd (index = 2) object from the list
L

**Sorting Lists of Numbers**

In [11]:
#sort only works for 'pure' lists. AKA lists that have objects of all the same type
numbers = [5, 7, 2, 9, 1, 4, 8]
numbers.sort()      # the sort method automatically sorts the numbers in ascending order
numbers


numbers.sort(reverse = True)  #this will sort the numbers in descending order
numbers

[9, 8, 7, 5, 4, 2, 1]